$mdi-font-path: '~mdi/fonts' !default;
$fa-font-path: '~@fortawesome/fontawesome-free-webfonts/webfonts' !default;
@import '~mdi/scss/materialdesignicons';
@import '~@fortawesome/fontawesome-free-webfonts/scss/fontawesome';
@import '~@fortawesome/fontawesome-free-webfonts/scss/fa-solid';
@import '~@fortawesome/fontawesome-free-webfonts/scss/fa-regular';
@import '~@fortawesome/fontawesome-free-webfonts/scss/fa-brands';

@import '~bulma/bulma';


$calendar-header-background-color: $info !default;
$calendar-today-border-color: $calendar-header-background-color !default;
$calendar-today-color: $calendar-header-background-color !default;

@import '~bulma-extensions/bulma-calendar/dist/bulma-calendar';

$invalid-color: $red;
.dateinput-component
{
	.input
	{
		&.is-invalid
		{
			border-color: $invalid-color;
			background: lighten($invalid-color, 30%);
		}
	}
}

$calendar-color-sunday: $red;
$calendar-color-saturday: $green;
$calendar-header-weekdays-background-color: darken($calendar-header-background-color, 5%);
	
.calendar-component
{
	.calendar
	{
		.calendar-nav
		{
			.calendar-nav-previous-month, 
			.calendar-nav-next-month
			{
				.button
				{
					background: $calendar-header-background-color;
					border-color: $calendar-header-background-color;
					color: findColorInvert($calendar-header-background-color);
					&:hover
					{
						background: darken($calendar-header-background-color, 10%);
					}
				}
			}
		}
		.calendar-header
		{
			background: $calendar-header-weekdays-background-color;
			.calendar-date
			{
				color: findColorInvert($calendar-header-weekdays-background-color);
			}
		}
		.calendar-body
		{
			.calendar-date
			{
				&.is-sunday .date-item
				{
					font-weight: 700;
					color: $calendar-color-sunday;
					&.is-active
					{
						color: $white;
					}
				}
				&.is-saturday .date-item
				{
					font-weight: 700;
					color: $calendar-color-saturday;
					&.is-active
					{
						color: $white;
					}
				}
			}
		}
	}
}