$mdi-font-path: "~mdi/fonts" !default;
$fa-font-path: "~@fortawesome/fontawesome-free-webfonts/webfonts" !default;
@import '~mdi/scss/materialdesignicons';
@import '~@fortawesome/fontawesome-free-webfonts/scss/fontawesome';
@import '~@fortawesome/fontawesome-free-webfonts/scss/fa-solid';
@import '~@fortawesome/fontawesome-free-webfonts/scss/fa-regular';
@import '~@fortawesome/fontawesome-free-webfonts/scss/fa-brands';

@import '~bulma/bulma';

$calendar-base-color: $info;
$calendar-sunday-color: $red !default;
$calendar-saturday-color: $green !default;
$calendar-header-background-color: $calendar-base-color !default
$calendar-today-border-color: $calendar-base-color !default
$calendar-today-color: $calendar-base-color !default
$invalid-background-color: lighten($danger, 30%);
$invalid-border-color: $danger;

@import '~bulma-extensions/bulma-calendar/dist/bulma-calendar';

.datepicker-container
{
	.input-container
	{
		.input
		{
			&.is-invalid
			{
				background: $invalid-background-color;
				border-color: $invalid-border-color;
			}
		}
	}
	.calendar
	{
		.calendar-nav
		{
			.calendar-nav-previous-month, .calendar-nav-next-month, 
			{
				button
				{
					background: $calendar-header-background-color;
					border-color: $calendar-header-background-color;
					color: findColorInvert($calendar-header-background-color);
					&:hover
					{
						background: darken($calendar-header-background-color, 5%);
						border-color: darken($calendar-header-background-color, 5%);
					}
				}
			}
		}
		.calendar-header
		{
			background: darken($calendar-header-background-color, 5%);
			border-color: $calendar-header-background-color;
			.calendar-date
			{
				color: findColorInvert($calendar-header-background-color);
			}
		}
		.calendar-body
		{
			.calendar-date
			{
				.date-item
				{
					&.is-active
					{
						background: $calendar-header-background-color; 
						border-color: $calendar-header-background-color; 
						color: findColorInvert($calendar-header-background-color);
					}
					&.is-sunday
					{
						color: $calendar-sunday-color;
						font-weight: 700;
						&.is-active
						{
							color: findColorInvert($calendar-header-background-color);
						}
					}
					&.is-saturday
					{
						color: $calendar-saturday-color;
						font-weight: 700;
						&.is-active
						{
							color: findColorInvert($calendar-header-background-color);
						}
					}
				}
			}
		}
	}
}


